body {
    font-family: 'Georgia', serif;
}

h1 a:hover {
  color: #506A85;
}

.inputButton {
  width:240px;
  color:#a3b1bf !important;
}

.contacts > li {
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  color:#a3b1bf !important;
}
.contacts > li > a {
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  color:#a3b1bf !important;
}
.contacts > li > a:hover {
  color:#ffffff !important;
}


/*===================================================================================*/
/*  DATAVIZ
/*===================================================================================*/

.line {
  fill: none;
  stroke: navy;
  stroke-width: 2px;
  stroke-opacity: 0.05;
}

.lineExcl {
  fill: none;
  stroke: #00a965;
  stroke-width: 2px;
  stroke-opacity: 0.15;
}

.lineQuest {
  fill: none;
  stroke: #cc3030;
  stroke-width: 2px;
  stroke-opacity: 0.15;
}

.line:hover {
  fill: none;
  stroke: navy;
  stroke-width: 4px;
  stroke-opacity: 0.5;
}

.lineExcl:hover {
  fill: none;
  stroke: #00a965;
  stroke-width: 4px;
  stroke-opacity: 0.5;
}

.lineQuest:hover {
  fill: none;
  stroke: #cc3030;
  stroke-width: 4px;
  stroke-opacity: 0.5;
}

#tooltip {
  font-family: 'Georgia', sans-serif;
  font-weight: 400;
  color:#73879C;
  position: absolute;
  width: 300px;
  height: auto;
  left: 100px;
  /*top: 400px;*/
}

#tooltip2 {
  font-family: 'Georgia', sans-serif;
  font-weight: 400;
  position: absolute;
  width: 300px;
  height: auto;
  left: 800px;
  top: 400px;
}

#tooltip3 {
  font-family: 'Georgia', sans-serif;
  font-weight: 400;
  position: absolute;
  width: 300px;
  height: auto;
  left: 100px;
  top: 400px;
}

#tooltip4 {
  font-family: 'Georgia', sans-serif;
  font-weight: 400;
  position: absolute;
  width: 300px;
  height: auto;
  left: 800px;
  top: 400px;
}

#tooltip.hidden {
  display: none;
}

#tooltip p, #tooltip2 p {
  margin: 0;
  font-family: 'Georgia', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color:#73879C;
}

#tooltip3 p, #tooltip4 p {
  margin: 0;
  font-family: 'Georgia', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color:#73879C;
}


/*===================================================================================*/
/*  MAIN MENU
/*===================================================================================*/

.navbar-header {
  border:none;
}

.navbar-collapse {
  background-color: #283645;
  border:none;
}

.navbar-nav > li > a {
  font-family: 'Lato', sans-serif;
  color: #a3b1bf;
  border: none;
  bottom: 0px;
}

.nav > li > a:hover {
    background-color: #283645;
    color: #ffffff;
    font-weight: 700;
}


/*===================================================================================*/
/*  COMPARISON
/*===================================================================================*/

.items li .text-overlay {
  background-color: rgba(52, 73, 94, 0);
}

.items li .text-overlay:before {
  content: "";
  display: inline-block;
  margin-top: 30px;
  height: 100%;
}

.items li .text-overlay .info h4 {
  font-family: 'Lato', sans-serif;
  color:#506A85;
}

.items li .text-overlay .info p {
  color:#506A85;
  font-family: 'Georgia', sans-serif;
}